.step1 button {
    width: 200px;
    padding: 3px;
}

.bottom {
    flex-wrap: wrap !important;
}

.bottom button {
    width: auto !important;
    padding: 8px !important;
}

.visiblearea {
    background-color: #58baab !important;
    color: #FFF !important;
    border: 1px solid #292020;
}

.describe {
    background-color: #58baab !important;
    color: #FFF !important;
    border: 1px solid #292020;
}

.image {
    cursor: pointer !important;
    min-width: 120px !important;
}

.imageSelected {
    cursor: pointer !important;
    border: 1px solid #6078b6;
    padding: 10px;
    border-radius: 10px;
}

.btn-success-light:active {
    background: none !important;
    color: black !important;
}

p {
    font-family: Lato;
}

.line-chart {
    width: 100%;
    height: 50vh;
    border-bottom: 1px solid black
}

.test {
    height: 100%;
    width: 100%;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.w-350px {
    height: 350px !important;
}

.h-350px {
    height: 350px !important;
}

#chart {
    max-width: 380px;
    margin: 35px auto;
    padding: 0;
}


/* **************************************************CIRCLE VALUE***************************** */

.flex-wrapper-rounded {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.single-chart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: #4CC790;
}

.circular-chart.blue .circle {
    stroke: #3c9ee5;
}

.circular-chart.violet .circle {
    stroke: #a830ed;
}

.percentage {
    fill: #fff;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.media {
    padding: 1rem 0 1rem 1rem !important;
}

.green-signal a {
    background-color: #4cc790 !important;
    border-color: #4cc790 !important;
    color: #ffffff !important;
}

.red-signal a {
    background-color: #fb2d34a8 !important;
    border-color: #fb2d34a8 !important;
    color: #ffffff !important;
}

.roundSection {
    width: 25% !important;
}

.selectedcategory {
    border: 2px solid grey !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.deleteSection {
    width: 100% !important;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteSection .zoomInDown {
    background: #293146 !important;
    color: #f9fbff !important;
    box-shadow: 0px 0px 5px grey;
    border: 2px solid white;
    width: 300px;
}

.deleteSection.box-body {
    background: white !important;
}

.deleteBtn {
    background-color: #a8482c;
    border-color: #a8482c;
    color: white;
}

.calcelBtn {
    background-color: #2c4ea8;
    border-color: #1f3365;
    color: white;
}


/* *******************LOADER**************** */

.Load {
    width: 30%;
    display: inline-block;
    text-align: center;
    min-height: 215px;
    vertical-align: top;
    margin: 1%;
    background: #080915;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 30px 1px #103136 inset;
    box-shadow: 0px 0px 30px 1px #103136 inset;
}

@media only screen and (max-width: 600px) {
    .Load {
        min-width: 350px;
    }
}

.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;
}

.loader-star {
    position: absolute;
    top: calc(50% - 12px);
}


/*LOADER-1*/

.loader-1 .loader-outter {
    position: absolute;
    border: 4px solid #f50057;
    border-left-color: transparent;
    border-bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

.loader-1 .loader-inner {
    position: absolute;
    border: 4px solid #f50057;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    border-right: 0;
    border-top-color: transparent;
    -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
    animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

@media screen and (max-width:600px) {
    .step1 {
        flex-direction: column !important;
    }
    .step1 button {
        width: 100%;
        padding: 3px;
    }
}

@-webkit-keyframes loader-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes loader-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}